[run]
plugins = covdefaults
source = gemseo
omit =
    # those paths are the installed ones, eventually under the env site-package
    */gemseo/post/_engine/colormap.py
    */gemseo/util/compatibility/*.py
    */gemseo/util/testing/pytest_conftest.py

[report]
# Override covdefaults.
fail_under = 1
