/.tox
/.pytest_cache/
/src/gemseo.egg-info
/htmlcov
/sandbox

*.pyc
.project
.pydevproject
.settings
.idea
.vim*
.vscode
tags

/site
/_docs
/docs/generated
/docs/examples/**/*.*
!/docs/examples/**/README.md
!/docs/examples/design_space/design_space.csv
!/docs/examples/disciplines/grammars/grammar_1.json
!/docs/examples/disciplines/grammars/grammar_2.json
!/docs/examples/doe/algorithms/doe.txt
!/docs/examples/post_process/power2_opt_pb.h5
!/docs/examples/post_process/algorithms/sobieski_mdf_scenario.h5
!/docs/examples/scalable/n2.html
!/docs/examples/study_analysis/coupling_study.xlsx
!/docs/examples/study_analysis/mdo_study.xlsx
!/docs/examples/LICENSE.txt

coverage.xml
.coverage*
!.coveragerc
asv-gemseo
.env
.envrc
devbox.json
devbox.lock
