.tox
*.pyc
src/gemseo.egg-info

.project
.pydevproject
.settings
.idea
.vim*
.vscode
tags

doc_src/_modules
doc_src/algorithms/**/*.*
!doc_src/algorithms/gen_opts/*.tmpl
!doc_src/algorithms/mlearning_algos.rst
!doc_src/algorithms/uncertainty_algos.rst
doc_src/tutorials_sg
doc_src/_examples/**/*.*
!doc_src/_examples/**/*.py
!doc_src/_examples/**/*.sh
!doc_src/_examples/**/*.xlsx
!doc_src/_examples/**/README.rst
!doc_src/_examples/LICENSE.txt
!doc_src/_examples/design_space/design_space.txt
!doc_src/_examples/doe/doe.txt
/doc

htmlcov

coverage.xml
.coverage*
/.pytest_cache/
