[build-system]
requires = [
    "setuptools>=45",
    "setuptools_scm[toml]>=6.2",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.pytest.ini_options]
# show extra info on xfailed, xpassed, and skipped tests
addopts = "--disable-pytest-warnings -rxs"
testpaths = ["tests"]
# logging settings identical to the defaults of gemseo.api.configure_logger()
log_file_level = "INFO"
log_file_date_format = "%H:%M:%S"
log_file_format = "%(levelname)8s - %(asctime)s: %(message)s"
# filterwarnings = ignore::pytest.PytestExperimentalApiWarning
markers = [
    "doc_examples: marks docs examples tests"
]
[tool.black]
target-version = ['py37']

[tool.towncrier]
package = "gemseo"
package_dir = "src"
directory = "changelog/fragments"
filename = "CHANGELOG.rst"
template = "changelog/template.jinja2"
title_format = "Version {version} ({project_date})"
issue_format = "`#{issue} <https://gitlab.com/gemseo/dev/gemseo/-/issues/{issue}>`_"
underlines = "*-"

[[tool.towncrier.type]]
directory = "added"
name = "Added"
showcontent = true

[[tool.towncrier.type]]
directory = "fixed"
name = "Fixed"
showcontent = true

[[tool.towncrier.type]]
directory = "changed"
name = "Changed"
showcontent = true

[[tool.towncrier.type]]
directory = "removed"
name = "Removed"
showcontent = true

[[tool.towncrier.type]]
directory = "deprecated"
name = "Deprecated"
showcontent = true
