.attribution {
  font-size: small;
  margin-bottom: 2em;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}

tr:nth-of-type(even) { background-color: #e5f4f6; }

/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.group {
 cursor: alias;
 font-weight: bold;
 font-size: 120%;
 }

#groups span {
  margin-left:5px;
  padding-right:5px;
  font-family: "PT Sans", sans-serif;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  font-size: 120%;
  font-weight: bold;
}

rect.highlight {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

#slide-out-groups {width: 33%; padding: 10px;}
#slide-out-help {width: 66%; padding: 10px;}
#slide-out-order {width: 33%; padding: 10px;}
#matrix-sidenav {width: 33%; padding: 10px;}
