..
   Copyright 2021 IRT Saint-Exupéry, https://www.irt-saintexupery.com

   This work is licensed under the Creative Commons Attribution-ShareAlike 4.0
   International License. To view a copy of this license, visit
   http://creativecommons.org/licenses/by-sa/4.0/ or send a letter to Creative
   Commons, PO Box 1866, Mountain View, CA 94042, USA.

.. _gen_doe_algos:

DOE algorithms options
======================

A simple way to solve an :class:`.OptimizationProblem` is to use the API method
:meth:`~gemseo.api.execute_algo`. E.g.

.. code::

	from gemseo.api import execute_algo
	from gemseo.problems.analytical.rosenbrock import Rosenbrock

	problem = Rosenbrock()
	sol = execute_algo(problem, "OT_LHS", n_samples=20)

They are also used in all MDO and DOE scenarios in the dictionary
passed to the :meth:`.MDODiscipline.execute` method.

List of available algorithms :
{% for algo in doe_algos%}:ref:`{{algo}}_options` -
{% endfor %}

{% for algo in doe_algos%}
.. _{{algo}}_options:

{{algo}}
{{ (algo|length)*'-' }}

Description
~~~~~~~~~~~

{{doe_descriptions[algo]}}

{% if doe_url[algo] is not none %}
{% set temp = '`External link <' + doe_url[algo] + '>`__' %}
{{temp}}
{{ (temp|length)*'~' }}
{%endif %}

Options
~~~~~~~

{% for option in doe_options[algo]|dictsort %}
- **{{option[0]}}**, :code:`{{option[1]['ptype']}}` - {{option[1]['description']}}

{% endfor %}
{% endfor %}
