..
   Copyright 2021 IRT Saint Exupéry, https://www.irt-saintexupery.com

   This work is licensed under the Creative Commons Attribution-ShareAlike 4.0
   International License. To view a copy of this license, visit
   http://creativecommons.org/licenses/by-sa/4.0/ or send a letter to Creative
   Commons, PO Box 1866, Mountain View, CA 94042, USA.

.. _plugins:

Plugins
=======

.. _copier-gemseo: https://gitlab.com/gemseo/dev/copier-gemseo
.. _copier: https://copier.readthedocs.io/en/stable/

|g| features can be extended with external Python modules.
All kinds of additional features can be implemented:
disciplines, optimizers, DOE algorithms, formulations, post-processings, surrogate models, ...

.. list-table::
   :widths: 25 50 25
   :header-rows: 1

   * - Name / Repo
     - Description
     - Documentation
{% for name, value in plugins.items()|sort(attribute='0') %}
   * - `{{ name }} <https://gitlab.com/gemseo/dev/{{ name }}>`_
     - {{ value[0] }}
     - {% if value[1] %}`Documentation <https://gemseo.gitlab.io/dev/{{ name }}>`_{% else %}:ref:`Modules <{{ name.replace('-', '_') }}>`{% endif %}
{% endfor %}

.. seealso::

   :ref:`extending-gemseo` with external Python modules.

.. seealso::

   Create a new plugin with `copier-gemseo`_.
