..
   Copyright 2021 IRT Saint-Exupéry, https://www.irt-saintexupery.com

   This work is licensed under the Creative Commons Attribution-ShareAlike 4.0
   International License. To view a copy of this license, visit
   http://creativecommons.org/licenses/by-sa/4.0/ or send a letter to Creative
   Commons, PO Box 1866, Mountain View, CA 94042, USA.

.. _gen_surrogate_algos:

Surrogate disciplines
=====================

A :class:`.SurrogateDiscipline` is built
from the name of a :class:`.MLRegressionAlgo` and its options.
These names and options are listed below.

.. warning::
    Some algorithms can require the :ref:`installation <installation>` of |g| with :ref:`all its features <dependencies>`
    and others can depend on :ref:`plugins <plugins>`.

.. note::
   All the features of the wrapped algorithm libraries may not be exposed through |g|.

{% for algo in algos %}
.. _{{algo}}_options:

{{algo}}
{{ (algo|length)*'-' }}

Module: :class:`{{modules[algo]}}`

{% if descriptions is not none %}
{{descriptions[algo]}}
{% endif %}

{% if websites is not none %}
More details about the algorithm and its options on {{websites[algo]}}.
{% endif %}

.. raw:: html

    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="../_static/css/gemseo.css" type="text/css" />

{% set optional_parameters = [] %}
{% for parameter in options[algo]|dictsort %}
{% if parameter[1]['default'] != '' or parameter[0].startswith('**') %}
{% set tmp = optional_parameters.append(parameter) %}
{% endif %}
{% endfor %}

{% if optional_parameters and optional_parameters[0][0].startswith("**") %}
{% set tmp = optional_parameters.append(optional_parameters[0]) %}
{% set tmp = optional_parameters.pop(0) %}
{% endif %}

{% set required_parameters = [] %}
{% for parameter in options[algo]|dictsort %}
{% if parameter[1]['default'] == '' and not parameter[0].startswith('**') %}
{% set tmp = required_parameters.append(parameter) %}
{% endif %}
{% endfor %}

{% if required_parameters and required_parameters[0][0].startswith("*") %}
{% set tmp = required_parameters.append(required_parameters[0]) %}
{% set tmp = required_parameters.pop(0) %}
{% endif %}

{% if required_parameters %}
    <dl class="field-list simple">
    <dt class="field-odd">Required parameters</dt>
    <dd class="field-odd"><ul class="simple">
{% for arg in required_parameters %}
    <li>

**{{arg[0]}}** : *{{arg[1]['ptype']}}{% if arg[1]['default'] != '' %}, optional{% endif %}*

{{arg[1]['description']}}

.. raw:: html

    </li>
{% endfor %}
    </ul>
    </dd>
    </dl>
{% endif %}

{% if optional_parameters %}
    <dl class="field-list simple">
    <dt class="field-odd">Optional parameters</dt>
    <dd class="field-odd"><ul class="simple">

{% for arg in optional_parameters %}
    <li>

**{{arg[0]}}** : *{{arg[1]['ptype']}}{% if arg[1]['default'] != '' %}, optional{% endif %}*

{{arg[1]['description']}}

{% if not arg[0].startswith('*') %}
By default it is set to {{arg[1]['default']}}.
{% endif %}

.. raw:: html

    </li>
{% endfor %}
    </ul>
    </dd>
    </dl>
{% endif %}

{% endfor %}
