<!--
Copyright 2021 IRT Saint Exupéry, https://www.irt-saintexupery.com

This work is licensed under the Creative Commons Attribution-ShareAlike 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by-sa/4.0/ or send a letter to Creative
Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

# Licenses

## GNU LGPL v3.0
The `{{ project_name }}` source code is distributed under the GNU LGPL v3.0 license.
```
--8<-- "LICENSES/headers/LGPL-3.0.txt"
```

## BSD 0-Clause
The `{{ project_name }}` examples are distributed under the BSD 0-Clause
```
--8<-- "LICENSES/headers/BSD-0-Clause.txt"
```

## CC BY-SA 4.0
The `{{ project_name }}` documentation is distributed under the CC BY-SA 4.0 license.
```
--8<-- "LICENSES/headers/CC-BY-SA-4.0.txt"
```
